
      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="usuario.nome" type="text" id="usuario" class="autocomplete">
          <label for="usuario">usuario</label>

        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="usuario.senha" type="password" id="senha" class="autocomplete">
          <label for="senha">senha</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action" (click)="fazerLogin()" >Login</button>


